<link rel="stylesheet" href="../style/css/nav.css">
<div class="nav">
    <ul>
        <li><a href="/index.php">
                <p><span class="iconfont">&#xe6b8;</span>首页</p>
            </a></li>
        <li><a href="/ranking.php">
                <p><span class="iconfont">&#xe6ad;</span>天梯</p>
            </a></li>
        <li><a href="/forum.php">
                <p><span class="iconfont">&#xe610;</span>论坛</p>
            </a></li>
        <li><a href="/cloud.php">
                <p><span class="iconfont">&#xea94;</span>网盘</p>
            </a></li>
    </ul>
</div>